# Dependensi & Packages
Laravel/vendor/
vendor/
node_modules/

# Konfigurasi Lingkungan & Password
Laravel/.env
Laravel/.env.backup
Laravel/.env.production
Laravel/.env.production.backup
*.env

# Cache & Storage
Laravel/storage/framework/cache/data/*
!Laravel/storage/framework/cache/data/.gitignore
Laravel/storage/framework/sessions/*
!Laravel/storage/framework/sessions/.gitignore
Laravel/storage/framework/views/*
!Laravel/storage/framework/views/.gitignore
Laravel/storage/logs/*.log
Laravel/storage/pail/*
!Laravel/storage/pail/.gitignore

# Testing & IDE
.phpunit.result.cache
.vscode/
.idea/
Thumbs.db
.DS_Store

# Temporary / Scratch
DO_NOT_UPLOAD_HERE
iclo-backup/

